body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.sheet {
  text-align: center;
  color: #222;
  height: 100vh;
}
.header {
  background-color: black;
  height: 150px;
  padding: 15px;
  color: white;
}

.middle {
  height: 600px;
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
}

.sides {
  width: 250px;
  padding-left: auto;
  padding-right: auto;
}

.bord {
  width: 900px;
  padding-left: auto;
  padding-right: auto;
  background-color: blue;
}

.footer {
  background-color: black;
  height: 200px;
  color: white;
}

.title {
  font-size: 1.5em;
  color: red;
  font-family: 'Joti One', cursive;
}

.secondTitle {
  font-size: 1.2em;
  color: gold;
  font-family: 'Macondo', cursive;
}
